<a href="https://colab.research.google.com/github/manoj2609/manoj-krishna/blob/master/6_12_2019%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# divisible numbers in between any two numbers 
# make sure 3,5 divisible numbers

#include<stdio.h>
int main()
{
	int x1,x2;
	scanf("%d%d",&x1,&x2);
	while(x1<=x2)
	{
		if(x1%3==0 && 1%5==0)
		{
			printf("%d",x1);
		}
		x1++;
	}
	return 0;
}

In [0]:
# reverse the order of number 154 --- 451


#include<stdio.h>
int main()
{
	int n ,s=0,r=0;
	scanf("%d",&n);
	while(n!=0)
	{
	
	r=n%10;
	s=s*10+r;
	n=n/10;
}
	
		printf("%d",s);
   
	return 0;
}

In [0]:
# read the number as input and print the output as only sum of even numbers
-1889 --- 16
-145 ---4
#include<stdio.h>
int main()
{
	int x,s=0,r;
	scanf("%d",&x);
	while(x!=0)
	{
		
		r=x%10;
		if(r%2==0)
		{
		 s=s+r;
		}
		x=x/10;
    } 
		printf("%d",s);
        return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int x,r,s=0;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		switch(r)
		{
			case 0: printf("zero");
			break;
			case 1: printf("one");
			break;
			case 2: printf("two");
			break;
			case 3: printf("three");
			break;
			case 4: printf("four");
			break;
			case 5: printf("five");
			break;
		    case 6: printf("six");
			break;
			case 7: printf("seven");
			break;
			case 8: printf("eight");
			break;	
			case 9: printf("nine");
			break;
		}
		printf("%d",x);
		x=x/10;
	}
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int x,r,large =0,small=10;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		if(large<r){
			large =r;
		}
		if(small>r){
			small =r;
		}
		x=x /10;
    }
    printf("<%d,%d>",small,large );
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int x,r,s=0;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		if(r==8){
			s +=2;
		}
		else if(r==0|| r==6|| r==9){
			s +=1;
		}
		else if(r==4){
			s +=2;
		}
		x/=10;
    }
	printf("%d",s);
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int x,s=0,r, p;
	scanf("%d",&x);
	p=x;
	 while (x!=0)
	 {
     r = x % 10;
     s = s * 10 + r;
     x =x // 10;
    }
     x++;
     if(p==s)
     {
     	printf("palindrome");
	 }
	 else
	 {
	 	printf("not palindrome");
	 	return 0;
	 }
}