<a href="https://colab.research.google.com/github/manoj2609/manoj-krishna/blob/master/6_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if x<y print square value of x

In [0]:

int main()
{
	int x,y;
	scanf("%d%d",&x,&y);
	if(x>y){
		printf("%d",y*y);
	}
	else{
		printf("%d",x*x);
	}
	return 0;
}

In [0]:
# eligible for voting between ages of (18-85)

In [0]:
#include<stdio.h>
int main()
{
	int age;
	scanf("%d",&age);
	if(age >=18 && age<=85) {
		printf("eligible for voting");
		}
    else{
    	printf("not eligible for voting");
	}	
	return 0;
}

In [0]:
# lower and upper case letters
// A-Z --- 65-90
// a-z --- 90-127
// o-9 --- 48-57
#include<stdio.h>
int main()
{
	char x;
	scanf("%c",&x);
	if(x >=65 && x <=90)
	{
		printf("upper case character");
	}
	else if(x >=97 && x<=122)
	{
		printf("lower case character");
	}
	else if(x >=48 && x<=57)
	{
		printf("digit character");
	}
	return 0;
}

In [0]:
# vowels and consonant 
#include<stdio.h>
int main()
{
	char a;
	scanf("%c",&a);
	if(a=='a' ||  a=='e' || a=='i' || a=='o' || a=='u')
	{
		printf("vowel");
	}
	else
	{
		printf("consonant");
	}
	return 0;
}

In [0]:
# divisible by 3 and 5 

#include<stdio.h>
int main()
{
	int a;
	scanf("%d",&a);
	if(a%3==0 && a%5==0)
	{
		printf("divisible");
	}
	else
	{
		printf("not divisible");
	} 
	return 0;
}

In [0]:
# week days 
#include<stdio.h>
int main()
{
	int n;
	scanf("%d",&n);
	if(n==1)
	{
		printf("sunday");
	}
	else if(n==2)
	{
		printf("MONDAY");
	}
	else if(n==3)
	{
		printf("tuesday");
	}
	else if(n==4)
	{
		printf("wenesday");
	}
	else if(n==5)
	{
		printf("thusday");
	}
	else if(n==6)
	{
		printf("friday");	
	}
	else if(n==7)
	{
		printf("sat");
	}
	return 0;
	
}

In [0]:
# read the three angles as input  and check with these angles can we able to 
construct triangle are not.
90 45 45 --- yes
0 0 180 --- no
60 90 30 --- yes
#include<stdio.h>
int main()
{
	int a,b,c;
	scanf("%d%d%d",&a,&b,&c);
	if(a!=0 && b!=0 && c!=0 && (a+b+c==180))
	{
		printf("yes");
	}
	else 
	{
		printf("not");
	}
	return 0;
}

In [0]:
# while(boolean_code)
{
    loop statements
}
-  while
-  do-while
-  for
# in while loop first the condition will be tested and then after loop 

#include<stdio.h>
int main()
{
	int x,i=1;
	scanf("%d",&x);
	while(i<=x)
	{
	
		printf("%d",i);
		i++;//i=i+1
	}
		return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int x,i=1;
	scanf("%d",&x);
	while(i<=x)
	{
	
		printf("%d",i);
		i++;//i=i+1
	}
		return 0;
}